 body {
	width:100%;
	height: 100%;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
	background-color: #F0F0F0;/*#FAF8F8;*/
	background-image:url("../images/backgroundImage.png");
	background-size: cover;
    background-repeat: no-repeat;
    border-radius:5px;
}

#playlistDivScrollable {
overflow-y: auto;
height:200px;
width:250px;
}


#profilePhotoDiv {
padding-top: 5px;
padding-left: 10px;
position: relative;
border: thick;
width: 80%;
margin-top: 2px;
margin-left: 2px;
margin-right: 2px;
margin-bottom: 2px;
}

#profileInfoDiv {
position: absolute;
width: 20%;
top: 10px;
text-align: right;
margin-top: 2px;
margin-left: 2px;
margin-right: 2px;
margin-bottom: 2px;
/* float: initial; */
left: 70%;
}

#infoDiv{
	position : relative;
	border-radius:5px;
	padding-left:2px;
	padding-right:2px;
	padding-top:2px;
	padding-bottom:2px;
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
	width: 100%;
    border:2px;
	background-color: #F0F0F0; /*#415473; Dark Blue Color*/
	margin-right: auto;
	margin-left: auto;
	
}



#wrapper {
	border:2px;
	border-radius:25px;


	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
	width: 90%;
	height: 90%;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #F0F0F0; /*#415473; Dark Blue Color*/
	margin: 0 auto;
	
	
/*  border-top: 2px solid white; */	
/*	border-left: 2px solid white; */	
/*	border-right: 2px solid white; */
}

#header {
	border-radius:5px;
	position: absolute;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
	width: 100%;
	height: 200px;
	background-color: #F0F0F0; /*#415473; Dark Blue Color*/
	margin-right: auto;
	margin-left: auto;
/*  border-top: 2px solid white; */	
/*	border-left: 2px solid white; */	
/*	border-right: 2px solid white; */
}

#leftpanel {
border-radius: 10px;
position: absolute;
margin-top: 0px;
margin-bottom: 0px;
padding: 0;
top: 150px;
/* width: 40%; */
/* height: 450px; */
background-color: #F0F0F0;
margin-right: auto;
margin-left: auto;
border-top: 2px solid white; 
border-left: 2px solid white;
border-right: 2px solid white;
}

#rightpanel {
position: absolute;
border-radius: 5px;
padding: 0;
top: 150px;
left: 25%;
width: 67.5%;
height: 60%;
background-color: #F0F0F0;
margin-right: auto;
margin-left: auto;
border-top: 2px solid white;
border-left: 2px solid white;
border-right: 2px solid white;
	
}






#footer {
	border-radius:5px;
	position: absolute;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
	/* top:600px; */
	width: 100%;
	height: 100px;
	background-color: #F0F0F0; /*#415473; Dark Blue Color*/
	margin-right: auto;
	margin-left: auto;
/*	    border-top: 2px solid white; */
/*		border-left: 2px solid white;  */
/*		border-right: 2px solid white; */
}

#map-canvas {
		height: 400px;
        width: 100%;
      }
